.div-login-container {
    background-color: white;
    margin: auto;
    padding: 70px 20px 100px 20px;
    border-radius: 2rem;
    transform: scale(1, 1);
    transition: transform 1s;

}

.div-login-container:hover {

    transform: scale(1.2, 1.2);
    transition: all 1s;
    box-shadow: -1px 1px #77aaff,
        -2px 2px #77aaff,
        -3px 3px #77aaff,
        -4px 4px #77aaff,
        -5px 5px #77aaff;
}

#login-button {
    margin-top: 20px;
}